/* Body & Defaults */

body {
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    color: #333;
    padding: 0 10px;
}

/* Footer */

#site-footer {
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

#footer-name {
    text-decoration: none;
}

/* Top navigation */

.top-menu > ul {
    /* no bullets */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.top-menu {
    border-bottom: solid 1px;
    padding-bottom: 1em;
}

div.top-menu {
    display: flex;
}

ul.left-menu {
    display: flex;
}

.left-menu > li.menu-item {
    margin-right: 2em;
}

ul.right-menu {
    margin-left: auto; 
    display: flex;
}

.right-menu > li.menu-item {
    margin-left: 2em;
}

li.menu-item > a {
    text-decoration: none;
    font-weight: bold;
}

img.icon {
    height: 32px;
    width: auto;
}

#github {
    background: url(/img/GitHub-Mark-32px.png);
}

/* Headlines */

div.date {
    text-align: center;
}

h1, h2, h3 {
    line-height: 1.2;
}

h1 {
    font-size: 1.7em;
    text-align: center;
}

/* Links */

a {
    text-decoration: underline;
    color: #333;
}

a:hover {
    color: black;
}

/* Tables */

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 2px 5px;
}

/* Figures */

figure {
    max-width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
}

figure figcaption {
    text-align: center;
    font-size: medium;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 4px;
}