div.index {
    display: flex;
    flex-direction: column;
}

a.post {
    display: flex;
    flex-direction: row;
    border-bottom: dashed 1px;
    padding: 0.2em 0;
    text-decoration: none;
}

span.date {
    width: 4em;
    text-align: right;
    flex-shrink: 0;
    margin-left: auto;
}