<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% match description %}
    {% when Some with (val) %}
    <meta name="description" content="{{val}}">
    {% when None %}
    {% endmatch %}
    <title>{{title}}</title>
    <link rel="alternate" type="application/rss+xml" href="https://proceed-to-decode.com/rss.xml"
        title="Proceed to Decode">
    <link rel="stylesheet" href="/css/default.css">
    {% for l in link %}
    <link rel="stylesheet" href="{{l}}">
    {% endfor %}
    {% if highlight %}
    {% include "highlight.html" %}
    {% endif %}
    
    {% if mathjax %}
    {% include "mathjax.html" %}
    {% endif %}
</head>

<body>
    {% include "top-menu.html" %}
    <main>
        <article>
            <header>
                <h1>{{title}}</h1>
                <div class="date"><span class="date">{{date}}</span></div>
            </header>
            {{content}}
        </article>
    </main>
    {% include "footer.html" %}
    {% for script in scripts %}
    <script src="{{script}}"></script>
    {% endfor %}
</body>

</html>