<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{description}}
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/top.css">
    {{link}}
</head>

<body>
    <div class="content">
        {{content}}
    </div>
    <footer id="site-footer">
        <nav id="footer-menu"><a href="/">Home</a> | <a href="/about">About</a></nav>
        <p>&copy; 2018-2020 Tobias Kolditz</p>
    </footer>
    {{scripts}}
</body>

</html>