<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{description}}
    <title>{{title}}</title>
    <link rel="alternate" type="application/rss+xml" href="https://proceed-to-decode.com/rss.xml" title="Proceed to Decode">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/top.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {{link}}
</head>

<body>
    <nav class="top-menu">
        <div class="top-menu">
            <ul class="left-menu">
                <li class="menu-item"><a href="/">Home</a></li>
                <li class="menu-item"><a href="/about">About</a></li>
            </ul>
            <ul class="right-menu">
                <li class="menu-item"><a href="https://github.com/kldtz"><img class="icon" src="/img/github-120.png"></a></li>
                <li class="menu-item"><a href="/rss.xml"><img class="icon" src="/img/rss-128.png"></a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        {{content}}
    </div>
    <footer id="site-footer">
        <p>&copy; 2018-2020 <a href="/">Tobias Kolditz</a></p>
    </footer>
    {{scripts}}
</body>

</html>