<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% match description %}
    {% when Some with (val) %}
    <meta name="description" content="{{val}}">
    {% when None %}
    {% endmatch %}
    <title>{{title}}</title>
    <link rel="alternate" type="application/rss+xml" href="https://proceed-to-decode.com/rss.xml" title="Proceed to Decode">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/top.css">
    {% for l in link %}
    <link rel="stylesheet" href="{{l}}">
    {% endfor %}
</head>

<body>
    {% include "top-menu.html" %}
    {{content}}
    {% include "footer.html" %}
</body>

</html>